.title-container {
  position: relative;
  width: 50%;
  height: 80px;
  margin: 100px auto 60px;
  text-align: center;
  background-color: $color-black;
  color: $color-primary;

  @media (max-width: 768px) {
    margin: 80px auto 50px;
  }

  @media (max-width: 550px) {
    width: 90%;
    margin: 60px auto 30px;
  }

  &::before {
    position: absolute;
    top: calc(50% - 1px);
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $color-primary;
  }

  .section-title {
    position: relative;
    width: max-content;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 40px;
    line-height: 80px;
    text-transform: capitalize;
    background-color: $color-black;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
}

.button {
  display: inline-block;
  width: 220px;
  height: 55px;
  line-height: 50px;
  text-align: center;
  align-items: flex-start;
  background-color: $color-primary;
  color: $color-black;
  border: 2px solid #bdae82;
  cursor: pointer;
  transition: color $animation-speed ease;
  @include hover("color", $color-white, $color-black);

  &:active {
    background-color: $color-primary-active;
  }

  &-inactive {
    background-color: transparent;
    border: 2px solid $color-primary;
    color: $color-primary;
    @include hover("color", $color-white, $color-primary);

    &:active {
      background-color: rgba($color-primary, 0.2);
    }
  }
}

.overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, 0);
  transition: background-color 0.5s ease, z-index 1s ease;

  &.open {
    z-index: 7;
    background-color: rgba($color-black, 0.5);
  }
}
