.title-container {
  position: relative;
  width: 50%;
  height: 80px;
  margin: 100px auto 60px;
  text-align: center;
  background-color: $color-black;
  color: $color-primary;

  &::before {
    position: absolute;
    top: calc(50% - 1px);
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $color-primary;
  }

  .section-title {
    position: relative;
    width: max-content;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 40px;
    line-height: 80px;
    text-transform: capitalize;
    background-color: $color-black;
  }
}

.button {
  display: inline-block;
  width: 220px;
  height: 55px;
  line-height: 50px;
  text-align: center;
  align-items: flex-start;
  background-color: $color-primary;
  color: $color-black;
  border: none;
  cursor: pointer;
  transition: color $hover-animation-speed ease;

  &:hover {
    color: $color-white;
  }

  &:active {
    background-color: $color-primary-active;
  }

  &-inactive {
    background-color: transparent;
    border: 2px solid $color-primary;
    color: $color-primary;

    &:active {
      background-color: rgba($color-primary, 0.2);
    }
  }
}
