.footer {
  &-content {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 50px;

    .copyright {
      width: 25%;

      &-year {
        margin-left: 15px;
      }

      &-github {
        margin-left: 15px;
      }
    }

    .social-items {
      width: 25%;
      height: 32px;
      display: flex;

      .social-item {
        margin-left: 20px;

        &:first-child {
          margin-left: auto;
        }

        .social-icon {
          width: 32px;
          height: 32px;
          fill: $color-white;
          transition: fill $hover-animation-speed ease;

          &:hover {
            fill: $color-primary;
          }
        }
      }
    }
  }
}
