.contacts {
  background: url("../assets/img/contacts-bg.jpg") no-repeat center;
  background-size: cover;
  height: 700px;
  width: 100%;

  .container {
    padding-top: 60px;

    .contacts-form {
      display: flex;
      flex-direction: column;
      width: 450px;
      margin-left: auto;

      .form-title {
        margin-bottom: 40px;
        font-size: 40px;
        line-height: 80px;
        color: $color-primary;
      }

      .form-input,
      .form-textarea {
        margin-bottom: 20px;
        padding: 3px 20px;
        border: 2px solid $color-primary;
        background-color: transparent;
        font-size: 20px;
        line-height: 40px;
        color: $color-primary;

        &::placeholder {
          color: $color-primary;
        }

        &:focus {
          outline: 1px solid transparent;
        }
      }

      .form-textarea {
        line-height: 30px;
        height: 100px;
        padding-top: 5px;
        margin-bottom: 30px;
        resize: none;
      }
    }
  }
}
