.contacts {
  background: url("../assets/img/contacts-bg.jpg") no-repeat center;
  background-size: cover;
  height: 700px;
  width: 100%;

  @media (max-width: 768px) {
    height: 600px;
  }

  @media (max-width: 550px) {
    background-position-x: -60px;
  }

  .container {
    padding-top: 60px;

    @media (max-width: 768px) {
      padding-top: 57px;
    }

    .contacts-form {
      display: flex;
      flex-direction: column;
      width: 450px;
      margin-left: auto;

      @media (max-width: 768px) {
        margin: 0 auto;
        text-align: center;
        align-items: center;
      }

      @media (max-width: 550px) {
        width: 100%;
      }

      .form-title {
        margin-bottom: 40px;
        font-size: 40px;
        line-height: 80px;
        color: $color-primary;

        @media (max-width: 768px) {
          margin-bottom: 36px;
          font-size: 32px;
          line-height: 72px;
        }

        @media (max-width: 400px) {
          line-height: 48px;
        }
      }

      .form-input,
      .form-textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 3px 20px;
        border: 2px solid $color-primary;
        font-size: 20px;
        line-height: 40px;
        color: $color-primary;
        background-color: rgba($color-black, 0.5);

        &::placeholder {
          color: $color-primary;
        }

        &:focus {
          outline: 1px solid transparent;
        }
      }

      .form-textarea {
        line-height: 30px;
        height: 100px;
        padding-top: 5px;
        margin-bottom: 30px;
        resize: none;
      }
    }
  }
}
