.portfolio {
  &-buttons {
    width: max-content;
    margin: 0 auto 60px;
  }

  &-images {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    .portfolio-img {
      display: block;
      width: calc(33% - 50px);

      flex-basis: 0;
      flex-grow: 1;
    }
  }
}
