.video {
  button.player__button {
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    svg {
      fill: #b3b3b3;
    }

    &:hover svg {
      fill: $color-primary;
    }
  }

  .player {
    position: relative;
    overflow: hidden;

    &__video {
      display: block;
      width: 100%;
    }

    .button-play__main {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      padding: 0;
      border: none;
      background-color: transparent;
      fill: $color-white;
      cursor: pointer;
      transition: fill $animation-speed ease;
      @include hover("fill", $color-primary, $color-white);

      svg {
        width: 130px;
        height: 130px;
      }
    }

    @media (max-width: 768px) {
      margin: 0 -20px 0 -20px;

      .button-play__main {
        transform: translate(-50%, -50%) scale(0.5);
      }
    }

    &__controls {
      position: absolute;
      bottom: 0;
      padding: 0 10px;
      width: 100%;
      height: 70px;
      background-color: rgba(#000, 0.75);
      transform: translateY(70px);
      transition: transform 0.3s ease 2s;

      @media (max-width: 500px) {
        padding: 0 5px;
        height: 50px;
      }

      .progress-container {
        position: relative;

        .progress__filled {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 0%;
          border-radius: 10px;
          background-color: $color-primary;
        }

        input.player__progress[type="range"] {
          -webkit-appearance: none;
          margin: 10px 0 5px;
          width: 100%;
          display: block;
          border-radius: 10px;
          background-color: rgba($color-white, 0.3);

          @media (max-width: 500px) {
            margin: 3px 0 0;
          }
        }
        input.player__progress[type="range"]:focus {
          outline: none;
        }
        input.player__progress[type="range"]::-webkit-slider-runnable-track {
          -webkit-appearance: none;
          position: relative;
          width: 100%;
          height: 10px;
          cursor: pointer;

          @media (max-width: 500px) {
            height: 7px;
          }
        }
        input.player__progress[type="range"]::-webkit-slider-thumb {
          margin-top: -3px;
          opacity: 0;
          cursor: pointer;
        }
        input.player__progress[type="range"]::-moz-range-track {
          -webkit-appearance: none;
          position: relative;
          width: 100%;
          height: 10px;
          cursor: pointer;
        }
        input.player__progress[type="range"]::-moz-range-thumb {
          margin-top: -3px;
          opacity: 0;
          cursor: pointer;
        }
      }

      &-row {
        display: flex;
        align-items: center;

        .player__button {
          height: 36px;

          @media (max-width: 500px) {
            height: 32px;
          }

          svg {
            width: 36px;
            height: 36px;
            transform: scale(0.8);

            @media (max-width: 500px) {
              height: 32px;
              transform: scale(0.65);
            }
          }

          &-pause {
            display: none;
            transform: scale(0.6);
          }
        }

        .button-volume {
          margin-left: 20px;

          @media (max-width: 500px) {
            margin-left: 0;
          }

          .player__button-volume {
            display: block;
          }
          .player__button-mute {
            display: none;
          }

          &.muted {
            .player__button-volume {
              display: none;
            }
            .player__button-mute {
              display: block;
            }
          }
        }

        .volume-container {
          position: relative;
          margin-left: 10px;
          border-radius: 5px;
          margin-top: 1px;

          .volume__filled {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 10%;
            border-radius: 5px;
            background-color: $color-primary;
          }

          .volume__thumb {
            position: absolute;
            z-index: 1;
            height: 15px;
            width: 15px;
            margin-top: -5px;
            left: calc(10% - 7px);
            border-radius: 50px;
            background: $color-primary;
            cursor: pointer;
          }

          input.player__volume[type="range"] {
            width: 150px;
            display: block;
            background: transparent;
            -webkit-appearance: none;
            background-color: rgba(255, 255, 255, 0.3);

            @media (max-width: 500px) {
              width: 100px;
            }
          }
          input.player__volume[type="range"]:focus {
            outline: none;
          }
          input.player__volume[type="range"]::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            position: relative;
            width: 100%;
            height: 5px;
            cursor: pointer;
          }
          input.player__volume[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            position: relative;
            z-index: 2;
            width: 15px;
            height: 15px;
            margin-top: -5px;
            border-radius: 15px;
            opacity: 0;
            cursor: pointer;
          }
          input.player__volume[type="range"]::-moz-range-track {
            -webkit-appearance: none;
            position: relative;
            width: 100%;
            height: 5px;
            cursor: pointer;
          }
          input.player__volume[type="range"]::-moz-range-thumb {
            -webkit-appearance: none;
            position: relative;
            z-index: 2;
            width: 15px;
            height: 15px;
            margin-top: -5px;
            border-radius: 15px;
            opacity: 0;
            cursor: pointer;
          }
        }

        .player__timer {
          margin-left: 20px;
          font-size: 16px;
          opacity: 0.5;

          @media (max-width: 500px) {
            margin-left: 10px;
            font-size: 14px;
          }
        }
      }
    }

    &:hover {
      .player__controls {
        transform: translateY(0);
        transition: transform 0.3s ease;
      }
    }

    &.active {
      .button-play__main {
        display: none;
      }
      .player__button-play {
        display: none;
      }
      .player__button-pause {
        display: block;
      }
    }
  }
}
