.error {
  h3 {
    margin-bottom: 30px;
    font-size: 40px;
    color: color(2);
  }

  p {
    margin-bottom: 10px;
    line-height: 24px;
  }

  a {
    color: color(2);

    &:hover {
      text-decoration: underline;
    }
  }
}
