.header {
  background-color: color(0);

  .header__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      text-transform: capitalize;
    }
  }
}
