.main-container {
  height: 100%;

  .game-info {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .level-container {
      position: relative;
      height: 49px;
      overflow: hidden;
      cursor: pointer;

      .level-title {
        padding: 13px 25px;
        background-color: $color-palette-2;
        transition: background-color 0.3s;

        &:hover {
          background-color: $color-palette-2-hover;
        }
      }

      .level-items {
        position: relative;
        z-index: -1;

        .level-item {
          padding: 13px 25px;
          background-color: $color-palette-2;
          transition: background-color 0.3s;

          &:hover {
            background-color: $color-palette-2-hover;
          }
        }
      }

      &.active {
        overflow: visible;

        .level-title {
          background-color: $color-palette-2;
        }

        .level-items {
          z-index: 1;
        }
      }

      @media (max-width: 400px) {
        margin-bottom: 12px;

        .level-title {
          padding: 10px 25px;
        }

        .level-items {
          .level-item {
            padding: 10px 25px;
          }
        }
      }
    }

    .game-statistics {
      .game-timer,
      .game-result {
        margin: 5px 0;
        align-self: flex-start;
        font-size: 1.7em;
        font-weight: 700;
        color: $color-grey;
        text-decoration: none;

        @media (max-width: 400px) {
          font-size: 1.4em;
        }

        &.finished {
          color: $color-palette-2;
          text-decoration: underline;
        }
      }
    }
  }

  .game-board {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 7px;
    pointer-events: unset;

    @media (max-width: 768px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (max-width: 600px) {
      gap: 5px;
      width: 100%;
    }

    &.disabled {
      pointer-events: none;
    }

    .card {
      position: relative;
      height: 120px;
      width: 90px;
      border-radius: 10px;
      transition: transform 1s;
      transform-style: preserve-3d;

      @media (max-width: 600px) {
        width: unset;
      }

      @media (max-width: 400px) {
        height: 90px;
      }

      &.flip {
        transform: rotateY(180deg);
      }

      .card__face {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        backface-visibility: hidden;
        background-repeat: no-repeat;
        background-position: center;

        &.card__face_front {
          background-color: $color-palette-4;
          background-size: 60%;
          background-image: url('../assets/img/card-default.png');
          transition: background-color 0.3s;
          cursor: pointer;

          &:hover {
            background-color: $color-palette-4-hover;
          }
        }

        &.card__face_back {
          background-color: #fff;
          background-size: 90%;
          transform: rotateY(180deg);
        }
      }
    }
  }

  .game-button__reset {
    padding: 15px 40px;
    margin: 30px 0;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: #fff;
    background-color: $color-palette-2;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba($color-palette-2, 0.9);
    }
  }

  .game-button__show-results {
    margin: 20px 0 10px;
    align-self: flex-end;
    margin-top: auto;
    border: none;
    text-transform: capitalize;
    color: $color-grey;
    background-color: transparent;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }
}
