$color-palette-1: #f0f1cf; // main
$color-palette-2: #a98ab0; // header
$color-palette-3: #8ea350; // footer
$color-palette-4: #9dced0; // card
$color-palette-4-hover: #79c1c4; // card-hover

$color-grey: #555;
