*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  @include fontInter;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  background-color: $color-black;
  color: $color-white;

  &.lock {
    overflow-y: hidden;
  }
}

h1,
h2,
h3 {
  @include fontMerri;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color $animation-speed ease;
  @include hover("color", $color-primary, inherit);
}

h1,
h2,
h4,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
