$font-dir: "../assets/fonts";

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(#{$font-dir}/Inter/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(#{$font-dir}/Inter/Inter-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(#{$font-dir}/Merriweather/Merriweather-Regular.ttf)
    format("truetype");
}

@mixin fontInter {
  font-family: "Inter", sans-serif;
}

@mixin fontMerri {
  font-family: "Merriweather", serif;
}
