.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    max-width: 1400px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
  }

  .header {
    height: 90px;
  }

  .main {
    flex: 1;
    padding: 50px 0;
  }
}
