*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  background-color: color(1);
  color: $color-white;

  &.lock {
    overflow-y: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
}

h1,
h2,
h4,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  outline: transparent;
}

figure {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    max-width: 1400px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
  }

  .header {
    height: 90px;
  }

  .main {
    flex: 1;
    padding: 50px 0;
  }
}
