$color-white: #fff;
$color-black: #000;
$color-grey: #777;
$color-grey-light: #ddd;
$color-rating-low: #ffb348;

$color: (
  0: #e33258,
  1: #170409,
  2: #ff847c,
  3: #fecea8,
  4: #99b898,
);

@function color($index) {
  @return map-get($color, $index);
}
